.mybar .mint-tab-item-icon {
    width: 29px;
    height: 28px;
    margin: 0 auto 6px;
    display: flex;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #333;
  }